<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  <style>
    .main-container {
      background-color: rgb(92, 14, 236);
      padding: 5%;
    }

    .container {
      background-color: #5b8ce9;
      margin-top: 2%;
      margin-bottom: 2%;
      font-size: small;
      font-variant: all-small-caps;
    }
    .table-responsive table {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  </style>
</head>
<body>
  <div class="main-container">
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="eventIdInput" class="form-label">Event ID:</label>
        <div class="input-group">
          <input type="number" class="form-control" id="eventIdInput" [(ngModel)]="eventIdInput" />
          <button class="btn btn-primary" (click)="addToWishlist()">Add to Wishlist</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container mt-3">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Event ID</th>
            <th>Type</th>
            <th>Title</th>
            <th>Date and Time (UTC)</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of wishlistItems">
            <td>{{ item.eventId }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.datetime_utc }}</td>
            <td>
              <button class="btn btn-danger" (click)="removeFromWishlist(item.eventId)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container mt-3 d-flex justify-content-center">
    <button class="btn btn-success" [routerLink]="['/events']">Back</button>
  </div>
</div>
  </div>
</body>
</html>
